<!--The content below is only a placeholder and can be replaced.-->
<body>

<div style="text-align:center" class="panel panel-default">
   
    <app-heroes></app-heroes>
    <app-messages></app-messages>
  <!-- <h1 appHighlight>
    Welcome to CITIUS Component
  </h1>
  <div class="panel-body">
    <button (click) ="DoSomeAction()">Invoke Service</button>
     <parent-comp></parent-comp>
     <app-user></app-user>
      <!-- <app-employee>
      </app-employee>
      <event-comp></event-comp>
      <app-cust></app-cust>
      <if-comp></if-comp> 
</div>-->
</div> 

</body>


